<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diffusion Face Relighting - Reimplmented in SD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <style>
        .fixed-tabs {
          position: fixed;
          top: 0;
          width: 100%;
          z-index: 1000;
        }
        body {
          padding-top: 3rem; /* Adjust for the height of the fixed tab */
        }
    </style>
</head>
<body>
<div id="app">
<div class="tabs is-centered fixed-tabs has-background-dark">
    <div class="select select is-primary">
        <select v-model="current_splittype">
            <option 
                v-for="splittype in avaliable_spittypes"
                :key="splittype" 
                :value="splittype"
            >
                Split: {{splittype}}
        </option>
        </select>
    </div>
    <div class="select select is-primary">
        <select v-model="current_guidance">
            <option 
                v-for="guidance in avaliable_guidances"
                :key="guidance" 
                :value="guidance"
            >
                Guidance: {{guidance}}
        </option>
        </select>
    </div> 
    <div class="select select is-primary">
        <select v-model="current_learningrate">
            <option 
                v-for="learning_rate in avaliable_learningrates"
                :key="learning_rate" 
                :value="learning_rate"
            >
            learning_rate: {{learning_rate}}
        </option>
        </select>
    </div>    
    <div class="select select is-primary">
        <select v-model="current_light">
            <option 
                v-for="light in avaliable_lights"
                :key="light" 
                :value="light"
            >
            light: {{light}}
        </option>
        </select>
    </div> 
    <div class="select select is-primary">
        <select v-model="current_direction">
            <option 
                v-for="direction in avaliable_directions"
                :key="direction" 
                :value="direction"
            >
            {{direction}}
        </option>
        </select>
    </div> 
</div>   

<div class="table-container mx-auto">
    <table class="table is-bordered is-striped is-narrow mx-auto">
        <thead>
            <th>
                Input
            </th>
            <th>
                Shading
            </th>
            <th v-for="method in avaliable_methods">
                {{caption_names[method]}}
            </th>
        </thead>
        <tbody>
            
            <tr v-for="face_id in avaliable_faces">
                <td>
                    <figure class="image is-128x128 mx-auto">
                        <img :src="'/output/datasets/face/ffhq_defareli/'+current_splittype+'2'+current_direction+'/images/00000/'+(face_id*10).toString().padStart(5, '0')+'.jpg'" loading="lazy"/>
                    </figure>
                </td>
                <td>
                    <figure class="image is-128x128 mx-auto" >
                        <img v-if="current_tab != 1" :src="'/output/datasets/face/ffhq_defareli/'+current_splittype+'2'+current_direction+'/shadings/00000/'+(face_id * 10 + current_light).toString().padStart(5, '0')+'.png'" loading="lazy"/>
                    </figure>   
                </td>
                <td v-for="method in avaliable_methods">
                    <figure class="image is-128x128 mx-auto">
                        <img :src="'/output/20241108/val_'+current_splittype+'2'+current_direction+'/default/'+current_guidance+'/'+method+'/'+current_learningrate+'/chk'+getCheckPoint(method)+'/lightning_logs/version_'+getVersion(method, current_splittype, current_direction, current_learningrate, current_guidance)+'/crop_image/00000-'+(face_id * 10).toString().padStart(5, '0')+'_00000-'+(face_id * 10 + current_light).toString().padStart(5, '0')+'.png'" loading="lazy"/>
                    </figure> 
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--  
<div class="container">
    <div class="notification" style="margin-top: 1rem; margin-bottom:1rem;text-align:center">
        press arrow left, arrow right, number (1-4) or hovering mouse on tab to switch between the config
    </div>
</div>   
<div class="table-container mx-auto" v-for="face_id in [...Array(10).keys()]">
    <table class="table is-bordered is-striped is-narrow mx-auto" v-for="direction in getFaceSplit()">
        <thead>
            <th>
                Source Image
            </th>
            <th>
                DDIM Inversion <br>
                Same lighting
            </th>
            <th v-for="index in [...Array(9).keys()]">
                <figure class="image is-128x128 mx-auto" >
                    <img v-if="current_tab != 1" :src="'/output/datasets/face/ffhq_defareli/'+current_splittype+'2'+direction+'/shadings/00000/'+(face_id * 10 + index).toString().padStart(5, '0')+'.png'" loading="lazy"/>
                </figure>    
            </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <figure class="image is-128x128 mx-auto">
                        <img :src="'/output/datasets/face/ffhq_defareli/'+current_splittype+'2'+direction+'/images/00000/'+(face_id*10).toString().padStart(5, '0')+'.jpg'" loading="lazy"/>
                    </figure>
                </td>
                <td v-for="index in [...Array(10).keys()]">
                    <figure class="image is-128x128 mx-auto">
                        <img v-if="current_tab == 1" :src="'/output/datasets/face/ffhq_defareli/'+current_splittype+'2'+direction+'/images/00000/'+(face_id*10).toString().padStart(5, '0')+'.jpg'" loading="lazy"/>
                        <img v-else :src="'/output/20241108/val_'+current_splittype+'2'+direction+'/default/'+current_guidance+'/v2a_defareli/'+current_learningrate+'/chk'+getCheckPoint(method)+'/lightning_logs/version_'+getVersion(current_splittype, direction, current_learningrate, current_guidance)+'/crop_image/00000-'+(face_id * 10).toString().padStart(5, '0')+'_00000-'+(face_id * 10 + index).toString().padStart(5, '0')+'.png'" loading="lazy"/>
                    </figure>    
                </td>
            </tr>
        </tbody>
    </table>
</div>
-->
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
const { createApp, ref } = Vue
createApp({
    setup() {
        const avaliable_lights = [1,2,3,4,5,6,7,8,9,0];
        const avaliable_faces = [0,1,2,3,4,5,6,7,8,9];
        const current_light = ref(avaliable_lights[0])
        const avaliable_directions = ['left','right'];
        const current_direction = ref(avaliable_directions[0])
        const avaliable_learningrates = ['1e-4','1e-5'];
        const avaliable_methods = ['v2a_defareli', 'v2a_adagn_face_shcoeff', 'v2a_adagn_only_shcoeff'];
        const current_learningrate = ref(avaliable_learningrates[0])
        const avaliable_guidances = ['1.0'];
        const current_guidance = ref(avaliable_guidances[0]);
        const current_tab = ref(0);
        const avaliable_spittypes = ['valid', 'train'];
        const current_splittype = ref(avaliable_spittypes[0])
        const avaliable_tabs = ref(['Both', 'Input', 'Left', 'Right']);
        const caption_names = {
            'v2a_defareli': 'DeFaReLi',
            'v2a_adagn_face_shcoeff': 'Non-spatial',
            'v2a_adagn_only_shcoeff': 'Only SH Light',
        }
        return {
            caption_names,
            avaliable_faces,
            avaliable_lights, 
            current_light,
            avaliable_directions,
            current_direction,
            avaliable_methods,
            avaliable_learningrates, 
            current_learningrate,
            avaliable_guidances,
            current_guidance,
            current_tab, 
            avaliable_tabs,
            avaliable_spittypes,
            current_splittype
        }
    },
    methods: {
        handleKeyPress(event) {
            const key = event.key; // Get the key pressed
            if (key === "ArrowLeft") {
                this.current_tab = this.current_tab == 0 ? this.avaliable_tabs.length - 1: (this.current_tab-1);
            } else if (key === "ArrowRight") {
                this.current_tab = (this.current_tab+1) % this.avaliable_tabs.length;
            } else if (["1", "2", "3", "4"].includes(key)) {
                this.current_tab = parseInt(key)-1
            }
        },
        getCheckPoint(method){
            if(method == "v2a_defareli") return "37";
            if(method == "v2a_adagn_face_shcoeff") return "56";
            if(method == "v2a_adagn_only_shcoeff") return "49";
            return "";
        },
        getVersion(method, splittype, direction, learning_rate,  guidance){
            
            if(method == "v2a_defareli" && splittype == 'valid' && guidance=='1.0' && direction == 'left' && learning_rate == '1e-4') return '93258';
            if(method == "v2a_defareli" && splittype == 'valid' && guidance=='1.0' && direction == 'right' && learning_rate == '1e-4') return '93262';
            if(method == "v2a_defareli" && splittype == 'train' && guidance=='1.0' && direction == 'left' && learning_rate == '1e-4') return '93256';
            if(method == "v2a_defareli" && splittype == 'train' && guidance=='1.0' && direction == 'right' && learning_rate == '1e-4') return '93257';
            if(method == "v2a_defareli" && splittype == 'valid' && guidance=='1.0' && direction == 'left' && learning_rate == '1e-5') return '93254';
            if(method == "v2a_defareli" && splittype == 'valid' && guidance=='1.0' && direction == 'right' && learning_rate == '1e-5') return '93255';
            if(method == "v2a_defareli" && splittype == 'train' && guidance=='1.0' && direction == 'left' && learning_rate == '1e-5') return '93256';
            if(method == "v2a_defareli" && splittype == 'train' && guidance=='1.0' && direction == 'right' && learning_rate == '1e-5') return '93257';

            if(method == "v2a_adagn_face_shcoeff" && splittype == 'valid' && guidance=='1.0' && direction == 'left' && learning_rate == '1e-4') return '93398';
            if(method == "v2a_adagn_face_shcoeff" && splittype == 'valid' && guidance=='1.0' && direction == 'right' && learning_rate == '1e-4') return '93399';
            if(method == "v2a_adagn_face_shcoeff" && splittype == 'train' && guidance=='1.0' && direction == 'left' && learning_rate == '1e-4') return '93400';
            if(method == "v2a_adagn_face_shcoeff" && splittype == 'train' && guidance=='1.0' && direction == 'right' && learning_rate == '1e-4') return '93401';
            if(method == "v2a_adagn_face_shcoeff" && splittype == 'valid' && guidance=='1.0' && direction == 'left' && learning_rate == '1e-5') return '93402';
            if(method == "v2a_adagn_face_shcoeff" && splittype == 'valid' && guidance=='1.0' && direction == 'right' && learning_rate == '1e-5') return '93403';
            if(method == "v2a_adagn_face_shcoeff" && splittype == 'train' && guidance=='1.0' && direction == 'left' && learning_rate == '1e-5') return '93404';
            if(method == "v2a_adagn_face_shcoeff" && splittype == 'train' && guidance=='1.0' && direction == 'right' && learning_rate == '1e-5') return '93405';

            if(method == "v2a_adagn_only_shcoeff" && splittype == 'valid' && guidance=='1.0' && direction == 'left' && learning_rate == '1e-4') return '93415';
            if(method == "v2a_adagn_only_shcoeff" && splittype == 'valid' && guidance=='1.0' && direction == 'right' && learning_rate == '1e-4') return '93414';
            if(method == "v2a_adagn_only_shcoeff" && splittype == 'train' && guidance=='1.0' && direction == 'left' && learning_rate == '1e-4') return '93417';
            if(method == "v2a_adagn_only_shcoeff" && splittype == 'train' && guidance=='1.0' && direction == 'right' && learning_rate == '1e-4') return '93416';
            if(method == "v2a_adagn_only_shcoeff" && splittype == 'valid' && guidance=='1.0' && direction == 'left' && learning_rate == '1e-5') return '93418';
            if(method == "v2a_adagn_only_shcoeff" && splittype == 'valid' && guidance=='1.0' && direction == 'right' && learning_rate == '1e-5') return '93419';
            if(method == "v2a_adagn_only_shcoeff" && splittype == 'train' && guidance=='1.0' && direction == 'left' && learning_rate == '1e-5') return '93420';
            if(method == "v2a_adagn_only_shcoeff" && splittype == 'train' && guidance=='1.0' && direction == 'right' && learning_rate == '1e-5') return '93421';

            return "";
        },
        getFaceSplit(){
            if(this.current_tab == 1){
                return ['left']
            }
            if(this.current_tab == 2){
                return ['left'];
            }
            if(this.current_tab == 3){
                return ['right'];
            }
            return ['left','right'];
        }
    },
    mounted() {
        window.addEventListener('keydown', this.handleKeyPress);
    },
    beforeDestroy() {
     window.removeEventListener('keydown', this.handleKeyPress);
    }
}).mount('#app')
</script>
</body>
</html>