<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diffusion Face Relighting - Reimplmented in SD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@cityssm/bulma-sticky-table@3.0.0/bulma-with-sticky-table.min.css" />
    <style>
        .fixed-tabs {
          position: fixed;
          top: 0;
          width: 100%;
          z-index: 1000;
        }
        body {
          /* padding-top: 3rem;  #Adjust for the height of the fixed tab */
        }
        .crop-image {
            width: 128px;
            height: 128px;
            object-fit: cover;
            object-position: left center; /* Show the left half */
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>    
</head>
<body>
<div id="app">
<div class="table-container mx-auto" style="overflow-y:auto;max-height:100vh;">
    <table class="table is-bordered is-striped is-narrow mx-auto has-sticky-header">
        <thead>
            <tr class="has-background-primary">
                <th>Ground Truth</th>
                <th v-for="light_id in avaliable_lights" v-for="light_id in avaliable_lights" :class="{'has-background-primary': test_lights.indexOf(light_id) > -1, 'has-background-danger': test_lights.indexOf(light_id) == -1}">
                    <figure class="image is-128x128 mx-auto">
                        <img :src="'/output/20250221_optmized_shading_exr/multi_mlp_fit/lightning_logs/version_'+getVersion(0)+'/epoch_'+_.padStart(String(0), 4, '0')+'/target_image/14n_copyroom10-dir_0_mip2_14n_copyroom10-dir_'+light_id+'_mip2.jpg'" />
                    </figure>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="epoch_id in [0,1,2,3]">
                <td>Epoch {{epoch_id + 1}}</td>
                <td v-for="light_id in avaliable_lights">
                    <figure class="image is-128x128 mx-auto">
                        <img :src="'/output/20250221_optmized_shading_exr/multi_mlp_fit/lightning_logs/version_'+getVersion(epoch_id)+'/epoch_'+_.padStart(String(epoch_id), 4, '0')+'/crop_image/14n_copyroom10-dir_0_mip2_14n_copyroom10-dir_'+light_id+'_mip2.png'" /> 
                    </figure>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
<script>
const { createApp, ref } = Vue
createApp({
    setup() {
        const scenes = ref([])
        const avaliable_lights = _.range(25);
        const test_lights = [0]
        return {
            scenes,
            avaliable_lights,
            test_lights
        }
    },
    methods: {
        getVersion(epoch_id){
            return "104459";
        },        
    },
    mounted() {
    },
    beforeDestroy() {
    }
}).mount('#app')
</script>
</body>
</html>