<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diffusion Face Relighting - Reimplmented in SD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@cityssm/bulma-sticky-table@3.0.0/bulma-with-sticky-table.min.css" />
    <style>
        .fixed-tabs {
          position: fixed;
          top: 0;
          width: 100%;
          z-index: 1000;
        }
        body {
          /* padding-top: 3rem;  #Adjust for the height of the fixed tab */
        }
        .crop-image {
            width: 128px;
            height: 128px;
            object-fit: cover;
            object-position: left center; /* Show the left half */
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>    
</head>
<body>
<div id="app">
<div class="table-container mx-auto" style="overflow-y:auto;max-height:100vh;">
    <table class="table is-bordered is-striped is-narrow mx-auto has-sticky-header">
        <thead>
            <tr class="has-background-primary">
                <th>Scene 200 <br> Epoch 12</th>
                <th v-for="light_id in avaliable_lights" v-for="light_id in avaliable_lights" :class="{'has-background-primary': test_lights.indexOf(light_id) > -1, 'has-background-danger': test_lights.indexOf(light_id) == -1}">
                    <figure class="image is-128x128 mx-auto">
                        <img :src="'/output/datasets/multi_illumination/spherical/train/control_render_from_fitting_v2/14n_copyroom10/dir_'+light_id+'_mip2.png'" />
                    </figure>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="source_id in [0,3,4,20]">
                <td>Source {{source_id}} </td>
                <td v-for="light_id in avaliable_lights">
                    <figure class="image is-128x128 mx-auto">
                        <img :src="'/output/20250221_optmized_shading_exr/multi_mlp_fit/lightning_logs/version_102375/epoch_0012/crop_image/14n_copyroom10-dir_'+source_id+'_mip2_14n_copyroom10-dir_'+light_id+'_mip2.png'" />
                    </figure>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr >
                <th>Epoch 12</th>
                <th v-for="light_id in avaliable_lights" v-for="light_id in avaliable_lights" :class="{'has-background-primary': test_lights.indexOf(light_id) > -1, 'has-background-danger': test_lights.indexOf(light_id) == -1}">
                    <figure class="image is-128x128 mx-auto">
                        <img :src="'/output/datasets/multi_illumination/spherical/train/control_render_from_fitting_v2/14n_copyroom10/dir_'+light_id+'_mip2.png'" />
                    </figure>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
function fetchJson(fileURL, callback) {
    fetch(fileURL)
        .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
        })
        .then(jsonData => callback(null, jsonData))
        .catch(error => callback(error, null));
    }
      
const { createApp, ref } = Vue
createApp({
    setup() {
        const scenes = ref([])
        const avaliable_lights = _.range(25);
        const test_lights = [0,3,4,20]
        return {
            scenes,
            avaliable_lights,
            test_lights
        }
    },
    methods: {
        handleKeyPress(event) {
            const key = event.key; // Get the key pressed
            if (key === "ArrowLeft") {
                this.current_tab = this.current_tab == 0 ? this.avaliable_tabs.length - 1: (this.current_tab-1);
            } else if (key === "ArrowRight") {
                this.current_tab = (this.current_tab+1) % this.avaliable_tabs.length;
            } else if (["1", "2", "3", "4"].includes(key)) {
                this.current_tab = parseInt(key)-1
            }
        },
        getVersion(epoch_id){
            if(epoch_id > 50){
                return "100430"
            }
            return "99828";
        },
        getFaceSplit(){
            if(this.current_tab == 1){
                return ['left']
            }
            if(this.current_tab == 2){
                return ['left'];
            }
            if(this.current_tab == 3){
                return ['right'];
            }
            return ['left','right'];
        }
    },
    mounted() {
        let self = this;
        fetchJson("/output/datasets/face/ffhq_defareli/diffusion-face-relight-testset-different-subject/multipie_testset2.json",function(err, data){
            if(data){
                let scenes = [];
                let pairs = data.pair;
                for (let key in pairs) {
                    console.log(key);
                    scenes.push({
                        'src': pairs[key]['src'].split('.')[0],
                        'gt': pairs[key]['gt'].split('.')[0],
                        'dst': pairs[key]['dst'].split('.')[0],
                    })
                }
                self.scenes = scenes    
            }
            
        })
    },
    beforeDestroy() {
    }
}).mount('#app')
</script>
</body>
</html>